@font-face {
  font-family: "karla";
  src: url("../fonts/Karla/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: "philosopher";
  src: url('../fonts/Philosopher/Philosopher-Regular.ttf');
}
/* waypoint effect important */
.waypoints {
  opacity: 0;
}

/* typewriter effect important */
.cursor {
  font-weight: 800;
  color: #2398d4;
  animation: blink 1s linear infinite;
}
.typewriter-v2 {
  font-weight: 600;
  color: cyan;
  text-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.magic-height {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}
.aspect-ratio-padding-hack-16-9 {
  padding-bottom: 56.25%;
}
.aspect-ratio-16-9 {
  aspect-ratio: 16/9;
}
.aspect-ratio-padding-hack-4-3 {
  padding-bottom: 75%;
}
.aspect-ratio-3-4 {
  aspect-ratio: 3/4;
}
.aspect-ratio-padding-hack-1-1 {
  padding-bottom: 100%;
}
.aspect-ratio-1-1 {
  aspect-ratio: 1/1;
}
.object-cover {
  object-fit: cover;
}
.text-darkness {
  color: rgba(52,53,65, 1);
}
.text-gray {
  color: #313c4e;
}
.bg-darkness {
  background: #222a33;
}
.bg-grayed {
  background-color: rgba(247,247,248, 1);
}
.bg-grayscale {
  background: #313c4e;
}
.button-burger-menu {
  background: #313c4e;
  border: none;
  outline: none;
  margin: 0 .5rem;
}
.collapse:not(.show) {
  display: none;
}
.menu-collapse {
  display: block;
}
.link-highlight {
  color: rgba(247,247,248, 1);
  background-image: linear-gradient(to right, rgba(247,247,248, 1) 0, rgba(247,247,248, 1) 100%);
  background-size: 0% 100%;
  background-position: 0;
  background-repeat: no-repeat;
  transition: background .5s;
}
.link-highlight:hover {
  color: rgba(52,53,65, 1);
  background-size: 100% 100%;
}
.myflex {
  display: flex;
  gap: .5rem;
  align-items: center;
  flex-direction: row;
}
.slider-moved > .slider-items {
  transition: all 400ms ease-in-out 0s;
}
.slider-wrapper {
  padding-right: 0;
  border: none;
  outline: none;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.slider-items {
  width: 100%;
  flex-shrink: 0;
  padding: 0 1rem;
}
.myCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
  cursor: pointer;
}
.slider-navigation:not(.active) {
  display: none;
}
.slider-navigation.active > .prev, .slider-navigation > .next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: .5rem;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 6px 0 rgba(49,53,59,0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.prev {
  left: -5px;
}
.next {
  right: -5px;
}
.button-desc-wrapper {
  right: 0;
  bottom: 0;
}
.myGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.contact-icons {
  width: 32px;
  height: 32px;
}
.myCardIcon {
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(49,53,59,0.12);
  /* box-shadow: 2px 4px 2px rgba(0,0,0,0.01), 4px 8px 6px rgba(0,0,0,0.02), 8px 16px 10px rgba(0,0,0,0.04), 16px 24px 18px rgba(0,0,0,0.09); */
  transition: all .5s ease;
}
.myCardIcon:hover, .myCardIcon:focus {
  transform: translate(5px, -5px);
}
.ff-karla {
  font-family: "karla";
}
.ff-philosopher {
  font-family: "philosopher";
}
.inset-0 {
  inset: 0;
}
.background-overlay {
  position: absolute;
  inset: 0;
  background: #000;
  opacity: .5;
}
.modal-hidden {
  overflow: hidden;
}
.modal-hidden .modal-overlay {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  opacity: 0;
  transition: opacity .15s linear 0s;
}
.modal-backdrop-overlay {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1040;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  transition: opacity .15s linear 0s;
}
.modal-overlay.active {
  opacity: 1;
}
.modal-backdrop-overlay.active {
  opacity: .5;
}

@media (min-width: 768px) {
  .myGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .button-burger-menu {
    display: none;
  }
  .menu-collapse {
    display: flex !important;
    align-items: stretch;
    padding: 0 .5rem;
    gap: .5rem
  }
  .myflex {
    align-items: flex-start;
    flex-direction: column;
  }
  .slider-wrapper {
    /* width: 100%; */
    padding-right: 66.6666%;
  }
  .myGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}